<h1>Developer: <%= @developer.name %></h1>
<div>
  <p>
    <strong>Name:</strong> <%= @developer.name %>
  </p>
  <p>
    <strong>Position:</strong> <%= @developer.position %>
  </p>
  <%= link_to 'Back', developers_path, class: "btn btn-secondary" %>
</div>
