<h1> This is Product list </h1>
  <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
  <stripe-pricing-table 
      pricing-table-id="prctbl_1PfKghBRmuyP1wGTzzptUosG"
      publishable-key="pk_test_51Pd7bUBRmuyP1wGTzViZ0xWpZPwb6wpttjgUfWTd0orHw3xF6Tdx7BcJhWbUKQPR4ZI1ldwXGWvw4fJxFqDH3q5u007A4GAxK8">
  </stripe-pricing-table>
