<%= form_tag payments_path do %>
    <label class="amount">
        <span>Amount: $500.00</span>
    </label>
  
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table pricing-table-id="prctbl_1PdsUbBRmuyP1wGTF7FbF2gp"
    publishable-key="pk_test_51Pd7bUBRmuyP1wGTzViZ0xWpZPwb6wpttjgUfWTd0orHw3xF6Tdx7BcJhWbUKQPR4ZI1ldwXGWvw4fJxFqDH3q5u007A4GAxK8">
    </stripe-pricing-table>
  <% end %>
